@model UberScan.Models.VolumeViewModel
@{
    ViewData["Title"] = $"{@Model.Manga.MangaNameLat} volumes";
}

<div class="text-center">
    <h2 class="mb-4" style="font-size: 40px;">@Model.Manga.MangaNameLat</h2>
</div>
<div class="text-center">
    <hr>
    <h2 class="mt-2 mb-4" style="font-size: 30px;">@Model.Manga.MangaNameLat volumes</h2>
</div>
<div class="mb-5 mt-5 gridCardVolume">
    @foreach (UberScan.Shared.Volume volume in @Model.Volumes)
    {
        <a class="mangaLink" href="/Home/Volume/@volume.VolumeId">
            <div style="flex: 0 0 25%; max-width: 100%;">
                <div class="card border-dark mb-3 content-image-cover" style="max-width: 100%;">
                    <div class="card-header">
                        <h5 class="text-center card-title">Volume @volume.VolumeNum</h5>
                    </div>
                    <div class="card-body text-dark">
                        <img class="mangaImage" src="~/documents/scans/@volume.LinkImageVolume" alt="@Model.Manga.MangaNameLat volume @volume.VolumeNum">
                            <p class="synopsis">@volume.VolumeSynopsis</p>
                    </div>
                </div>
            </div>
        </a>
    }
</div>